/*
 *  定义第三方图标 失败了
*/
@font-face {
    font-family: 'iconfont';
    /* 自行安装第三方字体图标库 */
    src: url('./assets/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('./assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.fa {
    display:inline-block;
    font-family:iconfont;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    text-rendering:auto;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    vertical-align:middle;
}
// 加号
.fa-plus {
    display: inline-block;
    // width: 50px;
    // height: 50px;
    // background-size: 30px 30px;
    background: url(./icon/plus.png) no-repeat;
}
